name: Deploy to GitHub Pages
on:
  push:
    branches:
      - master
jobs:
  install:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v1
      
      - name: Install dependencies
        run: npm ci

      - name: Upload artifacts for node_modules
        uses: actions/upload-artifact@v1
        with:
          name: nodem
          path: ./node_modules
  
  build:
    runs-on: ubuntu-latest
    steps: 
      - name: Checkout
        uses: actions/checkout@v1

      - name: Download artifacts for node_modules
        uses: actions/download-artifact@v1
        with:
          name: nodem
      
      - name: Build dist folder
        run: npm run-script build

      - name: Upload artifacts for dist folder
        uses: actions/upload-artifact@v1
        with:
          name: dist
          path: ./dist

  deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v1

    - name: Download artifacts for dist folder
      uses: actions/download-artifact@v1
      with:
        name: dist

    - name: Deploy
      uses: JamesIves/github-pages-deploy-action@releases/v3
      with:
        ACCESS_TOKEN: ${{ secrets.GHPAGE_ACCESS_TOKEN }}
        BRANCH: gh-pages
        FOLDER: dist
